# Build artifacts
/target
/emsdk
*.exe

/pacman/assets
/assets

# Web/Node artifacts
node_modules
/web/node_modules
/web/dist
.next
.nuxt
.cache

# Development files
/.git
/*.md
/Justfile
/bacon.toml
/rust-toolchain.toml
/rustfmt.toml
