# IDE, Other files
.vscode
.idea
rust-sdl2-emscripten/

# Build files
target/
dist/
emsdk/

# Site build f iles
tailwindcss-*
assets/site/build.css

# Coverage reports
lcov.info
codecov.json
coverage.html

# Profiling output
flamegraph.svg
/profile.*

# temporary
assets/game/sound/*.wav
/*.py
